<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>花卉识别系统</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/reset.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/supersized.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/style.css')}}">

</head>
<body>
<div class="page-container">
    <h1>花卉识别</h1>

    <form action="{{ url_for('local') }}" method="post">
        <button type="submit" id="localBtn">上传本机</button>
    </form>

    <form action="{{ url_for('camera') }}" method="post">
        <button type="submit" id="cameraBtn">拍照</button>
    </form>

</div>

    <!-- JS -->
    <script src="{{url_for('static',filename='assets/js/jquery-1.8.2.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/supersized.3.2.7.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/supersized-init.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/scripts.js')}}"></script>

</body>
</html>
